<ul class="navbar-nav navbar  navbar-lewagon">
  <div id="root">
    <div id="topnav" class="topnav menu">
      <a id="topnav_hamburger_icon">
        <span></span>
        <span></span>
        <span></span>
      </a>

      <nav role="navigation" id="topnav_responsive_menu" class="inline">
        <div class="menuicon" data-controller="mousemove">
          <%= link_to "#", class: "navbar-brand" do %>
            <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
          <% end %>
          <ul class="menu">
            <li class="item"><a href="#welcome" class="topnav_link link" data-action="mousemove->mousemove#move" id="btn-Welcome-move">Accueil</a></li>
            <li class="item"><a href="#showcase" class="topnav_link link" data-action="mousemove->mousemove#move" id="btn-Showcase-move">Réalisations</a></li>
            <li class="item"><a href="#services" class="topnav_link link" data-action="mousemove->mousemove#move" id="btn-Services-move">Services</a></li>
            <li class="item"><a href="#fees" class="topnav_link green link" data-action="mousemove->mousemove#move" id="btn-Fees-move">Tarifs</a></li>
         </ul>
        </div>

        <div class="home">
          <div class="rdv">
            <a href="#rdv">Prendre un rendez-vous</a>
            <p id="upper">1</p>
          </div>
          <a href="/users/sign_in" class="primcol"> <i class="fa-solid fa-house-user"></i> </a>
        </div>

      </nav>
    </div>
  </div>
</ul>
