.demo-wrapper {
  overflow-x: hidden;
  padding-top: 100px;
}

.wrapper {
  display: flex;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
  padding: 100px 0px
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-gallery ul {
  padding-left: 1rem;
  list-style: none;
}

.demo-gallery li {
  flex-shrink: 0;
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}

.demo-gallery img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
}
